script
      var lat="";
      var lon="";
      var indexcord=1;
      var neighborhoods=[];

      var socket = io.connect();
      socket.on('cord', function (cord) {
          initialize(indexcord,cord);
          indexcord++;


      });
      function cEvent(where){
                                  console.log(where);
                                  socket.emit('createEvent',where);
      }

      var map;
      var contentString;

      var markers = [];
      var iterator = 0;

      function initializeMap(){
          var myOptions = {
              zoom: 14,
              center:  new google.maps.LatLng(56.171224 ,15.586900),

                  navigationControl: false,
                  mapTypeControl: false,
                  scaleControl: false,

                  streetViewControl: false,
              mapTypeId: google.maps.MapTypeId.ROADMAP
          }
          map =  new google.maps.Map(document.getElementById("map_canvas"), myOptions);

      }

      function initialize (i,cord){

          neighborhoods[i] = cord ;
          if(i==0){

              initializeMap();
              iterator = 0;
          }
          else{
            drop(i);
          }
      }

      function addMarker(i) {
          var icon;


              icon="img/p0.png";

          var marker=new google.maps.Marker({

                        position: new google.maps.LatLng(neighborhoods[i][0],neighborhoods[i][1]),
                        map: map,
                        draggable: false,

                        animation: google.maps.Animation.DROP,
                        icon: icon
                    });
          markers.push(marker);
            var myOptions = {
                     content: "CIAO"
                    ,disableAutoPan: false
                    ,maxWidth: 0
                    ,pixelOffset: new google.maps.Size(-30, -70)
                    ,zIndex: null
                    ,boxStyle: {
                      background: "url('img/casella-singola.png') no-repeat"
                      ,opacity: 0.9
                      ,width: "133px"
                      ,height: "60px"
                      ,padding:"7px 10px"
                     }
                    ,closeBoxMargin: "-4px 12px 12px 12px"
                    ,closeBoxURL: "http://www.google.com/intl/en_us/mapfiles/close.gif"
                    ,infoBoxClearance: new google.maps.Size(1, 1)
                    ,isHidden: false
                    ,pane: "floatPane"
                    ,enableEventPropagation: false
                };
          var infowindow = new InfoBox(myOptions);
          setTimeout(function(){  infowindow.open(map, marker);},1000);
          google.maps.event.addListener(marker, 'click', function() {
            infowindow.open(map, marker);

          });
      }

      function drop(i) {

              setTimeout(function() {

                  addMarker(i);
              }, i * 20+500);


      }


      $().ready(function(){
          initialize(0,[56.171224 ,15.586900]);entra();
          $('#leftside').css('height',$(window).height());

          $(window).scroll(function(){
                console.log("CIAO!");
                 $(document).scrollTop(0);
          });
          $('#wrap').bind("mouseenter",function() {

                                  done=false;
                                $('#container').stop().animate({

                                  opacity: '1',

                                }, 1000, function() {
                                  // Animation complete.
                                });

                              }).bind("mouseleave",function(){

                                       $('#container').stop().animate({



                                           opacity: '1',

                                         }, 1000, function() {

                                         });

                              });
           $('#nUtenti').bind("mouseenter",function() {

                                               done=false;
                                             $('#nUtenti').stop().animate({

                                               opacity: '1',

                                             }, 1000, function() {
                                               // Animation complete.
                                             });

                                           }).bind("mouseleave",function(){

                                                    $('#nUtenti').stop().animate({



                                                        opacity: '1',

                                                      }, 1000, function() {

                                                      });

                                           });



      });
      function entra(){
                      $('.ent').css("display","block");

                      $('.ent').stop().animate({

                      opacity:1,
                      left:0
                      }, 500, function() {
                      // Animation complete.
                      });
      }
      function entra2(){
                          $('.ent').css("display","none");
                          $('img#ent2').css("display","block");

                              $('img#ent2').stop().animate({

                              opacity:1.5

                              }, 1300, function() {
                              // Animation complete.
                              });
              }


      function drop1(){
                                       for(var i=0;i<6;i++)
                                          drop2(i);
      }

      function skillcheck(x){
                                     for(var i=1;i<=$(x).attr('id');i++){

                                            $('#'+i).css("background-image","url('/img/casella-skills-fill.png')");
                                     }
                                     while(i<=5){
                                           $('#'+i).css("background-image","url('/img/casella-skills.png')");
                                           i++;
                                     }
                                 }



body


      #map_canvas
      #wrapL
          #leftside
              #header
                  img#title(src="img/header.png")

                  img#create(src="img/sharry-it-cross.png", onclick="entra();")
                  img#search(src="img/spotlight.png",onclick="entra2()")

              #sharry(class="ent")
                  input.casella#title(tabindex=1,class="ent",type="textbox", value="Title", onfocus="$(this).val('')", onblur="if($(this).val()==''    )$(this).val('Title');")



                  #skills.casella(class="ent")
                      img#1(class="entt",onclick=("skillcheck(this)"))
                      img#2(class="entt",onclick=("skillcheck(this)"))
                      img#3(class="entt",onclick=("skillcheck(this)"))
                      img#4(class="entt",onclick=("skillcheck(this)"))
                      img#5(class="entt",onclick=("skillcheck(this)"))

                  input.casella#when(tabindex=2,class="ent",type="textbox", value="When", onfocus="$(this).val('')", onblur="if($(this).val()==''    )$(this).val('When');")
                  input.casella#where(tabindex=3,class="ent",type="textbox", value="Where", onfocus="$(this).val('')", onblur="if($(this).val()==''    )$(this).val('Where');", onkeypress="if(event.charCode==13)cEvent($('#where').val())")
                  img#sharryBtn(tabindex=4,class="ent", onclick="cEvent($('#where').val())")




      #wrapR
          #rightside
              img(src="img/button-now.png")
              img(src="img/tool-box.png", style="border:none;float:right; margin-top:20px")


      #footer



