!!! 5
html(lang="en")
  head
    meta(name="viewport",content="initial-scale=1.0, user-scalable=no")
    link(rel="icon", type="image/png", href="img/favico.png")
    title Sharry
    link(rel="stylesheet", type="txt/css", href="css/index.css")
    script(type="text/javascript",src='jquery-1.7.min.js')
    script(type="text/javascript",src="http://maps.googleapis.com/maps/api/js?key=AIzaSyABQ7KzpYoVRa9eM63geCVFoBz74XajLyg&sensor=false")
    script(type="text/javascript", src="socket.io/socket.io.js")
  body
    !=body
