#body{
    height:100%;
    width:100%;
    overflow: hidden;
    z-index: 0;
}
#map_canvas{
    position:absolute;
    height:100%;
    width:100%;
    z-index:0;

}


#wrapL{
    position:relative;
    z-index:1;
    height:100%;
}

#leftside{
    margin-left:10px;
    position:absolute ;
    background-color:#8c0000;
    width:250px;
    opacity:0.9;
    z-index:1;
}
#listEv{

    z-index:2;
    opacity:1;

    position:relative;
    margin-top:320px;
    height:200px;
    padding-left: 10px;
}
#header{
    z-index:2;
    opacity:1;
    margin-top: 20px;
}
#header#title{
    width:226px;height:94px; margin-left:10px; display:block
}
#header #create{
    width:40px;height:40px;
}
#header #create:hover{
    cursor:pointer;
}
#header #search{
    float:right;width:40px;height:40px;display:inline;
}
#sharry{
    position:absolute;background-image:url('../img/background-sharry.png');left:-133px;opacity:0;display:none;z-index:3;height:300px;-webkit-border-top-right-radius: 30px;width:185px;
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.casella{
    top:30px; margin-top:10px;opacity:1;padding-left:10px;border:none; background-color:transparent;display:none;position:relative;background-image:url('../img/casella-singola.png'); width:125px; margin-left:15px;height:33px;z-index:4;background-repeat:no-repeat;
}
#sharry .ent{

}
#skills{

}
.entt{

    background-color:transparent;margin-top:5px;margin-left:5px;float:left;position:relative;background-image:url('../img/casella-skills.png');background-repeat:no-repeat; width:17px;height:19px;z-index:6;
}


#skills :hover{
    cursor:pointer;
}
#sharryBtn{
    top:10px;border:none;display:none;position:relative;background-repeat:no-repeat;background-image:url('../img/button-sharry.png'); width:135px; margin-top:30px;margin-left:15px;height:33px;z-index:3;
}

#sharryBtn{
    cursor:pointer;
}
#wrapR{
    position:absolute;right:290px;
    height: 100px;
}
#rightside{
    border:none;margin-top:50px; position:absolute ;background-color:transparent;  opacity:0.9;z-index:50;width:270px;
}